@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.left {
  background: #0a0a0a;
}

.right {
  width: 100%;
  background-color: #fffc33;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
