@keyframes deslizaAdentroDesdeIzquierda {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes deslizaAdentroDesdeDerecha {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.entrada-de-tarjeta {
  visibility: hidden;
}

.tarjeta-visible {
  visibility: visible;
}

.entrada-de-cabecera-de-tarjeta {
  animation: deslizaAdentroDesdeIzquierda 0.5s forwards;
}

.entrada-de-contenido-de-tarjeta {
  animation: deslizaAdentroDesdeIzquierda 0.5s forwards;
}

.entrada-de-pie-de-tarjeta {
  animation: deslizaAdentroDesdeIzquierda 0.5s forwards;
}

.entrada-de-cabecera-de-tarjeta-derecha {
  animation: deslizaAdentroDesdeDerecha 0.5s forwards;
}

.entrada-de-contenido-de-tarjeta-derecha {
  animation: deslizaAdentroDesdeDerecha 0.5s forwards;
}

.entrada-de-pie-de-tarjeta-derecha {
  animation: deslizaAdentroDesdeDerecha 0.5s forwards;
}
